.areas {
    flex-grow: 1;
    display: flex;
    height: 100%;
    position: relative;
}

.area {
    border: 1px solid black;
    position: relative;
}

.area-divider {
    width: 4px;
    height: 100%;
    position: absolute;
    background-color: #0000;
    transition: background-color .5s;
    cursor: ew-resize;
    top: 0;
    bottom: 0;
}

.area-divider:hover {
    background-color: #000A;
}